:root{
    --violet-doux:#6c63ff;
    --violet-fonce:#534edd;
    --orange-vif:#ffa726;
    --gris-tres-fonce:#333;
    --gris-tres-clair:#f8f8f8;
    --gris-clair:#eee;
}
*h1{
    color: var(--violet-fonce);
}
body{
    background-color: var(--gris-clair);
    font-family:roboto , sans-serif;
    line-height: 1.6;
} 
header{
   background-color: white;
   box-shadow: 2px 6px 10px rgba(0,0,0,0.05);
   position: sticky;
   top: 0; 
   z-index: 100;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 2rem 3rem;
}
header div a {
    text-decoration: none;
    font-size: 2.2rem;
    font-weight: bold;
    color: var(--violet-doux);
}
ul li{
    list-style: none;
    margin-left: 15px;
}
ul{
    display: flex;
}
ul li a{
    text-decoration: none;
    color: var(--gris-tres-fonce);
    font-weight: 600;
    font-size: 1.1rem;
    position: relative;
    padding: 10px 0;
}
ul li a:hover{
    color: var(--violet-doux);
}
ul li a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0%;
    background-color: var(--violet-doux);
    transition: 0.3s ease;
}
ul li a:hover::after{
    width: 100%;
}
a.active{
    color: var(--violet-doux);
}
a.active::after{
    width: 100%;
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    text-align: center;
    margin : 10rem 2rem;
}
.hero img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    border: 8px solid var(--violet-doux);
}
.hero h1{
    color: var(--violet-doux);
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
}
.hero p{
    color: var(--gris-tres-fonce);
    font-size: 1.3rem;
    margin-bottom: 1.2rem;
}
.hero a {
   text-decoration: none;
    display: inline-block;
    background: var(--violet-doux);
    color: white;
    padding: 15px 30px;
    border-radius: 50px;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    font-weight: 600;
    margin: 1rem;
    transition:background-color: 0.3s ease, trasform 0.2s ease;
}
.hero a:hover{
    background-color: var(--violet-fonce);
    transform: translateY(-3px);
}

main section div h2{
    color: var(--violet-doux);
    text-align: center;
}
main section div p{
    text-align: center;
}
*table {
  width: 80%;
  margin: auto;
  border-collapse: collapse;
  background-color: white;
   box-shadow: 2px 6px 10px rgba(0,0,0,0.05);
   top: 0; 
   display: flex;
   align-items: center;
   padding: 2rem 3rem;
}

table tr th {
  border: 0px ;
  background-color: var(--violet-doux);
  padding: 0.8em;
  color: white;
  text-align: center; 
}
footer {
  background: var(--violet-doux);
  color: white;
  text-align: center;
  padding: 1.5em;
}

footer div a {
  margin: 0 1em;
  color:white;
  text-decoration: none;
}